<html>

<head>
    <title>Buy Item 1</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <h1>{{ item.Name }} </h1>
    <p>{{ item.Description }}</p>
    <p>{{ item.Price }}</p>
    <button id="buy-button">Buy</button>
    <script type="text/javascript">
        var stripe = Stripe('pk_test_51MbUHKDHxXrUEV5WOngv75NdtcBIK85rbaZYbleY8wmrFTutO1BquJOtM396m5Fj65twVTEzYCNm7InL5MMq9AiX00i4lMJiZM');
        var buyButton = document.getElementById('buy-button');
        buyButton.addEventListener('click', function () {
            fetch('/buy/{{ item.id }}/', { method: 'GET' })
                .then(response => response.json())
                .then(session => stripe.redirectToCheckout({ sessionId: session.session_id }))
        });
    </script>
</body>

</html>